---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/home/Hero.astro';
import Feature from '../components/sections/home/Feature.astro';
import Categories from '../components/sections/home/Categories.astro';
import Recent from '../components/sections/home/Recent.astro';
import Contact from '../components/sections/home/Contact.astro';
---

<Layout>
  <main>
    <Hero />
    <Feature />
    <Categories />
    <Recent />
    <Contact />
  </main>
</Layout>