<section class="bg-black mt-24 text-white py-16 px-4 text-center">
    <h2 class="text-4xl font-semibold mb-4">Tips, novedades y reviews</h2>
    <p class="mb-8 text-lg text-gray-300">Suscribite y descubrí lo nuevo antes que nadie.</p>
    
    <div class="flex flex-row justify-center items-center gap-4 max-w-md mx-auto">
      <input 
        type="text" 
        placeholder="Tu correo electrónico"
        class="w-full sm:w-auto bg-white px-6 py-3 rounded-lg text-black"
      />
      <button class="bg-white text-black px-6 py-3 rounded-lg font-semibold">
        Suscribirse
      </button>
    </div>
  </section>
  