---
import {CalendarDays, Speech} from '@lucide/astro'
---

<section class="bg-[#F4F2F0] flex flex-col pb-24">
    <!-- Título arriba -->
    <h2 class="px-4 sm:px-8 pt-8 pb-2 text-2xl font-medium">
        Artículo destacado
    </h2>

    <div class="w-full max-w-7xl mx-auto px-8 mt-8">
        <article
            class="flex flex-col bg-white rounded-lg shadow-lg overflow-hidden
               md:flex-row md:bg-transparent md:rounded-none md:shadow-none md:items-center"
        >
            <!-- Imagen -->
            <div class="w-full md:w-2/5">
                <img
                    src="/feature.webp"
                    alt="Imagen destacada"
                    class="w-full h-48 md:h-auto object-cover"
                />
            </div>

            <!-- Contenido -->
            <div
                class="p-6 flex flex-col gap-4
                 md:p-0 md:w-3/5 md:gap-8 md:ml-16"
            >
                <!-- Reviews -->
                <span
                    class="text-sm uppercase text-gray-500 font-semibold tracking-wider"
                >
                    Reviews
                </span>

                <!-- Título -->
                <h3 class="text-3xl font-semibold text-gray-900">
                    Todo lo que debes saber sobre el iPhone 15 Pro Max
                </h3>

                <!-- Descripción -->
                <p class="text-lg text-gray-700">
                    Características, rendimiento y mejoras clave del iPhone más
                    potente hasta ahora.
                </p>

                <!-- Fecha y autor -->
                <div class="text-sm text-gray-500 flex flex-col sm:flex-row gap-4 md:gap-8">
                    <span class="flex items-center gap-2">
                      <CalendarDays /> 22 de abril de 2025
                    </span>
                    <span class="flex items-center gap-2">
                      <Speech /> Carla Altamirano
                    </span>
                  </div>
                  
                  

                <!-- Botón -->
                <div class="flex justify-center mt-4">
                    <a
                        href="#"
                        class="inline-block bg-black text-white py-2 px-6 w-[50%] rounded-lg text-center hover:bg-gray-800 transition"
                    >
                        Leer artículo
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
