---
import {Search} from '@lucide/astro'
---

<section class="relative flex items-center justify-center bg-white min-h-screen bg-cover bg-center" style="background-image: url('/hero.webp');">

  <div class="absolute inset-0 bg-black/75"></div>

  <div class="relative flex items-center justify-center h-full">
    <div class="text-center px-4 sm:px-6 lg:px-8 w-full max-w-3xl">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">
        Explorando iPhone: Aprende, Mejora, Domina
      </h1>
      <p class="mt-6 text-xl leading-8 text-gray-300">
        Tu guía definitiva sobre el smartphone más innovador del mundo
      </p>

      <!-- Barra de búsqueda -->
      <div class="mt-8 w-[75%] md:w-[50%] mx-auto">
        <form class="flex rounded-lg overflow-hidden shadow-lg">
          <input
            type="text"
            placeholder="Buscar artículos, tips ..."
            class="w-full px-4 py-3 bg-black text-white placeholder-white/50"
          />
          <button
            type="submit"
            class="bg-black text-white/50 px-5 py-3"
          >
            <Search />
          </button>
        </form>
      </div>

    </div>
  </div>
</section>
