---
import { CalendarDays, Speech } from "@lucide/astro";
---

<section class="mt-8">
  <h2 class="text-center text-4xl font-medium mb-8">Artículos recientes</h2>

  <article
    class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 px-8 gap-x-4"
  >
    <!-- Primera Card -->
    <section
      class="relative bg-black rounded-lg shadow-md flex-1 p-8 md:p-0 md:h-[30rem] overflow-hidden"
    >
      <!-- Imagen de fondo -->
      <img
        src="/recent-1.webp"
        alt=""
        class="absolute inset-0 w-full h-full object-cover"
      />

      <!-- Overlay negro -->
      <div class="absolute inset-0 bg-black/15"></div>

      <!-- Contenido -->
      <div
        class="relative z-10 flex flex-col justify-center h-full md:px-12 text-white"
      >
        <h3 class="text-3xl font-semibold mb-4">
          Las mejores apps de fotografía para iPhone en 2023
        </h3>
        <p class="mb-4 text-lg text-gray-300">
          Llevá tus fotos al siguiente nivel con estas apps esenciales.
        </p>
        <div class="flex flex-col sm:flex-row gap-4 text-sm text-gray-400 mb-6">
          <span class="flex items-center gap-2">
            <CalendarDays /> 22 de abril de 2025
          </span>
          <span class="flex items-center gap-2">
            <Speech /> Carla Altamirano
          </span>
        </div>
        <div class="flex justify-center mt-8">
          <a href="#" class="bg-black py-2 px-6 w-[50%] text-center rounded-lg">
            Leer más
          </a>
        </div>
      </div>
    </section>

    <!-- Segunda Card -->
    <section
      class="relative bg-black rounded-lg shadow-md flex-1 p-8 md:p-0 md:h-[30rem] overflow-hidden"
    >
      <!-- Imagen de fondo -->
      <img
        src="/recent-2.webp"
        alt=""
        class="absolute inset-0 w-full h-full object-cover"
      />

      <!-- Overlay negro -->
      <div class="absolute inset-0 bg-black/15"></div>

      <!-- Contenido -->
      <div
        class="relative z-10 flex flex-col justify-center h-full md:px-12 text-white"
      >
        <h3 class="text-3xl font-semibold mb-4">
          10 trucos para que la batería de tu iPhone dure mucho más
        </h3>
        <p class="mb-4 text-lg text-gray-300">
          Configuraciones y hábitos clave para mejorar la autonomía..
        </p>
        <div class="flex flex-col sm:flex-row gap-4 text-sm text-gray-400 mb-6">
          <span class="flex items-center gap-2">
            <CalendarDays /> 22 de abril de 2025
          </span>
          <span class="flex items-center gap-2">
            <Speech /> Carla Altamirano
          </span>
        </div>
        <div class="flex justify-center mt-8">
          <a href="#" class="bg-black py-2 px-6 w-[50%] text-center rounded-lg">
            Leer más
          </a>
        </div>
      </div>
    </section>
  </article>
</section>
