---
import '../styles/global.css';
import Header from '../components/common/Header.astro';
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>iPhone Blog | Todo sobre el iPhone</title>
    <meta name="description" content="Blog de creatividad y productividad personal para mejorar tu día a día y trabajar mejor" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="iPhone Blog | Todo sobre el iPhone" />
    <meta property="og:description" content="Blog de creatividad y productividad personal para mejorar tu día a día y trabajar mejor" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>